In [201]:
import pandas as pd

In [31]:
import numpy as np

# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [142]:
ratings = pd.read_csv('ml_latest_small/ratings.csv')
movies = pd.read_csv('ml_latest_small/movies.csv')

In [231]:
# ?ratings.max

movieId = ratings[ratings.rating == 5.0].groupby('movieId').rating.count().idxmax()
movies[movies.movieId == movieId]

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [146]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [196]:
power[power['country'].isin(['Latvia','Estonia','Lithuania']) & power['category'].isin([4,12,21])]['quantity'].sum()

970605.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

In [206]:
pd.read_html('https://fortrader.org/quotes')[0]

                               Type    Last   Chg.  Chg.%  Time
0  Нефть (BRENT) Курс нефти сегодня  58.590  0.050  0.090   NaN
1   Нефть (WTI) Цены на нефть (WTI)  53.930  0.040  0.070   NaN
2          Сахар котировки на сахар  12.630  0.000  0.000   NaN
3                   Газ Цена на газ   2.159  0.001  0.046   NaN