# Задача 1
Дана строка

In [91]:
string_01 = "Mama, just killed a man, put a gun against his head, \
pulled my trigger, now he's dead. Mama, life had just begun, but \
now I've gone and thrown it all away. Mama, ooh (any way the wind \
blows), didn't mean to make you cry. If I'm not back again this \
time tomorrow carry on, carry on as if nothing really matters."

* 1.Посчитайте, сколько в строке символов (исключая пробелы).
* 2.Посчитайте, сколько в строке слов.
* 3.Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, заканчивающиеся на эту букву (например, “s”).
* 4.Не обязательно: Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву
(например, “m”).

In [92]:
len(string_01.replace(' ', ''))

250

In [93]:
len(string_01.split())

61

In [97]:
def get_words(sym, end_simbol = True):
    result = []
    str_ = string_01
    
    for char in [',','.',')','(']:
        str_ = str_.replace(char,'')
    
    if end_simbol:
        return [word for word in str_.split() if word[-1].lower() == sym.lower()]
    
    return [word for word in str_.split() if word[0].lower() == sym.lower()]

In [98]:
get_words('t')

['just', 'put', 'against', 'just', 'but', 'it', "didn't", 'not']

In [100]:
get_words('m', False)

['Mama', 'man', 'my', 'Mama', 'Mama', 'mean', 'make', 'matters']

# Задача 2
Напишите код, который будет генерировать случайную последовательность из 6
цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например:
"456309" или "330127".

In [101]:
import random

In [102]:
def generate():
    num = int(random.random() * 100000)
    position = num % 6
    str_ = str(num).zfill(5)
    
    i = 0
    result = ''

    while i < 6:
        if i == position:
            result = result + '3'
        
        try:
            result = result + str_[i]
        except:
            return result
        
        i = i + 1

In [103]:
generate()

'808336'

# Задача 3
Дан список
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]
Напишите алгоритм, который выводит сумму элементов списка, которые больше
10, но меньше 100.

In [104]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [105]:
sum([i for i in list_01 if i > 10 and i < 100])

212

# Задача 4
Данные студентов представлены в виде списка списков:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009",
"БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010",
"БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна",
"11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна",
"13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009",
"БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009",
"БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010",
"БСТ162"],
["0309", "Шафутинский", "Михаил", "Михайлович",
"03.09.2007", "БСТ163"]
]

In [106]:
students = [
    ["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
    ["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
    ["0333", "Глаголева", "Анастасия", "Николаевна","11.07.2009", "БСТ163"],
    ["4004", "Степанова", "Наталья", "Александровна","13.02.2008", "БСТ161"],
    ["0045", "Боков", "Игорь", "Харитонович", "02.06.2009","БСТ161"],
    ["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009","БСТ164"],
    ["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010","БСТ162"],
    ["0309", "Шафутинский", "Михаил", "Михайлович","03.09.2007", "БСТ163"]
]

* Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [107]:
d = {}
for st in students:
    d[st[0]] = st[1:len(st)-1]

d

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010'],
 '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007']}

* Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый.

In [108]:
def change_group(st_num = False, group_num = False):
    if not st_num or not group_num:
        return
    
    st_num = str(st_num)
    group_num = str(group_num)
    
    i = 0
    while i < len(students):
        if students[i][0] == st_num:
            students[i].pop()
            students[i].append(group_num)
            break
            
        i = i + 1

In [109]:
change_group(1102,'БСТ161')
students

[['0001', 'Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 ['1102', 'Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ161'],
 ['0333', 'Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 ['4004', 'Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 ['0045', 'Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 ['0096', 'Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 ['0607', 'Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 ['0309', 'Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163']]

* Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы.

In [110]:
def view_students_by_group(group):
    result = []
    group = str(group)
    
    for st in students:
        try:
            st.index(group)
            result.append(st[1] + ' ' + st[2] + ' ' + st[3])
        except:
            continue
    
    return result

In [111]:
view_students_by_group('БСТ161')

['Антонов Антон Игоревич',
 'Богов Артем Игоревич',
 'Степанова Наталья Александровна',
 'Боков Игорь Харитонович']

# Задача 5
Дана матрица:
matrix = [
[0, 1, 2, 4, 8],
[6, 2, 2, 1, 9],
[3, 3, 3, 3, 3],
[4, 6, 7, 1, 2],
[5, 7, 3, 4, 0]
]

In [112]:
import numpy as np

In [113]:
matrix = [
    [0, 1, 2, 4, 8],
    [6, 2, 2, 1, 9],
    [3, 3, 3, 3, 3],
    [4, 6, 7, 1, 2],
    [5, 7, 3, 4, 0]]

* Выведите результат сложения всех элементов матрицы.

In [114]:
np.sum(matrix)

89

* Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [115]:
max([sum(row) for row in list(zip(*matrix))])

22